<div class="d-flex justify-content-center min-100vh">
  <div
    class="bg-white p-5 rounded-5 text-secondary shadow containerBackground"
    style="width: 90%"
  >
    <!-- Especialidad -->
    <h2 class="h2 mb-4">Especialidades</h2>
    <div class="row">
      @for (especialidad of arrayEspecialidades; track $index) {
      @if(especialidad.nombre != 'Otro'){
      <div class="col">
        <button
          class="btn btn-success m-1 boton"
          (click)="clickEspecialidad(especialidad.nombre)"
        >
          <img [src]="especialidad.img" alt="" width="80px" height="80px" />
        </button>
      </div>
      } }
    </div>
    <!-- Lista Especialistas -->
    @if(especialidadString){
    <h2 class="h2 mb-4">Especialistas</h2>
    <div class="row">
      @for (usuario of usuariosEspecialistasFiltrado; track $index) {
      <div class="col">
        <div class="contenedorEspecialistas">
          <button
            class="btn btn-success m-1 boton"
            (click)="clickEspecialista(usuario)"
          >
            <img [src]="usuario.imagenUno" alt="" width="80px" height="80px" />
          </button>
          <span class="h4 nombreEspecialista"
            >{{ usuario.nombre }} {{ usuario.apellido }}</span
          >
        </div>
      </div>
      }
    </div>
    }
    <!-- Lista Usuarios -->
    @if(this.authService.currentUserSig()?.rol == "admin" &&
    especialidadString){
    <h2 class="h2 mb-4">Usuarios</h2>
    <ul data-bs-spy="scroll">
      @for (usuario of usuariosPacientes; track usuario.id){
      <li>
        <span>{{ usuario.nombre }}</span>
        <span>{{ usuario.apellido }}</span>
        <span>{{ usuario.edad }}</span>
        <span>{{ usuario.dni }}</span>
        <span>{{ usuario.obraSocial }}</span>
        <span>{{ usuario.mail }}</span>
        <img width="20px" [src]="usuario.imagenUno" alt="" />
        <button
          type="button"
          (click)="clickPaciente(usuario)"
          class="btn btn-success"
        >
          {{ pacienteElegido == usuario.mail ? "Seleccionado" : "Seleccionar" }}
        </button>
      </li>
      }
    </ul>
    }
    <!-- Lista Turnos (select)-->
    @if(especialistaElegido){
    <div class="turnos">
      <h2 class="h2 mb-4">Turnos Disponibles</h2>
      @if(especialistaElegido){ @for (day of futureDays; track $index) {
      <button
        (click)="onDayClick(day.date)"
        class="btn btn-success m-1"
        [ngClass]="{ 'btn-info': day.date == this.selectedDay?.date }"
      >
        {{ day.date }}
      </button>
      }
      <!-- Selecciona Dia (Botones)-->
      @if(selectedDay){
      <div class="mt-1 mb-1">
        @for (button of selectedDay.buttons; track $index) {
        <button
          class="btn btn-success m-1"
          [ngClass]="{ 'btn-info': button.selected }"
          (click)="onButtonClick(selectedDay.date, button.time)"
        >
          {{ button.time | timeFormat }}
        </button>
        }
      </div>
      } }
    </div>
    }
    <!-- Boton resevar -->
    <button class="btn btn-success m-1" (click)="reservar()">
      Reservar Turno
    </button>
  </div>
</div>
