<div class="min-100vh">
  <div class="container">
    <ul data-bs-spy="scroll">
      <h2 class="h2 text-white">Especialistas</h2>
      @for (usuario of usuariosEspecialistas; track usuario.id){
      <li>
        <span>{{ usuario.nombre }}</span>
        <span>{{ usuario.apellido }}</span>
        <span>{{ usuario.edad }}</span>
        <span>{{ usuario.dni }}</span>
        <span>{{ usuario.especialidad }}</span>
        <span>{{ usuario.mail }}</span>
        <span>{{ usuario.estaValidado ? "Si" : "No" }}</span>
        <img width="20px" [src]="usuario.imagenUno" alt="" />
        <button
          (click)="validarEspecialista(usuario)"
          type="button"
          class="btn btn-success"
        >
          {{ usuario.estaValidado ? "Remover" : "Validar" }}
        </button>
      </li>
      }
      <h2 class="h2 text-white">Pacientes</h2>
      @for (usuario of usuariosPacientes; track usuario.id){
      <li>
        <span>{{ usuario.nombre | uppercase }} </span>
        <span>{{ usuario.apellido | uppercase }}</span>
        <span>{{ usuario.edad }}</span>
        <span>{{ usuario.dni }}</span>
        <span>{{ usuario.obraSocial | lowercase }}</span>
        <span>{{ usuario.mail }}</span>
        <img width="20px" [src]="usuario.imagenUno" alt="" />
      </li>
      }
      <!-- Ejemplos -->
      <div class="row">
        @for (usuario of usuariosPacientes; track $index) {
        <div class="col">
          <div class="contenedorEspecialistas">
            <button
              (click)="clickUsuario(usuario.mail)"
              class="btn btn-success m-1 boton"
            >
              <img
                [src]="usuario.imagenUno"
                alt=""
                width="40px"
                height="40px"
              />
            </button>
            <span class="p nombreEspecialista"
              >{{ usuario.nombre }} {{ usuario.apellido }}</span
            >
          </div>
        </div>
        }
      </div>
    </ul>

    <!-- Botones usuarios -->
    <div class="contenedorBotones">
      <button
        type="button"
        class="btn btn-success boton"
        routerLink="/verHistorialClinica"
      >
        Ver historial clinica de los pacientes
      </button>
      <button
        type="button"
        class="btn btn-success boton"
        routerLink="/menuRegistros"
      >
        Registrar Usuarios
      </button>
    </div>
  </div>
</div>
