.min-100vh {
  min-height: 100vh;
  background-image: url("../../../assets/imgs/background-plant.png");
}
.containerBackground {
  margin-top: 180px;
}
.colorMain {
  background-color: #009970;
}
.btnDefault {
  border-radius: 100%;
}
.containerBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
