.min-100vh {
  background-image: url("../../../assets/imgs/background-plant.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 180px;
  width: 750px;
}
.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
