<div class="d-flex justify-content-center align-items-center min-100vh">
  <div
    class="bg-white p-5 rounded-5 text-secondary shadow containerBackground"
    style="width: 50rem"
  >
    <div class="row">
      <div class="col">
        <button
          (click)="cambiarResultado('especialista')"
          class="btn btn-success"
          type="button"
        >
          <img src="../../../assets/imgs/doctor.png" width="100%" alt="doc" />
        </button>
      </div>
      <div class="col">
        <button
          (click)="cambiarResultado('paciente')"
          class="btn btn-success"
          type="button"
        >
          <img src="../../../assets/imgs/paciente.png" width="100%" alt="pac" />
        </button>
      </div>
      @if(this.authService.currentUserSig()?.rol == "admin"){
      <div class="col">
        <button
          (click)="cambiarResultado('admin')"
          class="btn btn-success"
          type="button"
        >
          <img src="../../../assets/imgs/paciente.png" width="100%" alt="adm" />
        </button>
      </div>
      }
    </div>
  </div>
</div>
